<md-list class="sidenav-list">
	<a fxLayoutAlign=" center" ><md-icon>home</md-icon>Home</a>
	<md-divider></md-divider>
	<a routerLink="/search-movie" routerLinkActive="active_link" fxLayoutAlign=" center" ><md-icon>search</md-icon>Search movie</a>
	
	<div *ngIf="!afService.isLoggedIn">
		<md-list-item>
			<button style="margin-top:10px" class="loginBtn loginBtn--facebook" (click)="afService.login(this.providerFacebook)">
			Login with Facebook</button>
		</md-list-item>
		<md-list-item>
			<button class="loginBtn loginBtn--google" (click)="afService.login(this.providerGoogle)">
			Login with Google</button>
		</md-list-item>
	</div>
	<div *ngIf="afService.isLoggedIn">
		<a routerLink="/my-profile" routerLinkActive="active_link" fxLayoutAlign=" center" ><md-icon>person</md-icon>My profile</a>
		<a (click)="afService.logout()" fxLayoutAlign=" center" ><md-icon>power_settings_new</md-icon>Logout</a>
	</div>
	
</md-list>



