.sidenav-list {
  padding-top: 0;
}

md-icon {
  margin-right: 10px;
}

a {
    display: block;
    color: #e4e4e4;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

a.active_link {
    background-color: #666;
    color: white;
}

a:hover {
    background-color: #555;
    color: white;
}

.loginBtn {
  margin: 0.2em;
  border: none;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
  cursor: pointer;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  font-family: "Roboto", Roboto, arial, sans-serif;
  background: #DD4B39;
  cursor: pointer;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}