<media-items-search-box style="width:400px; height:200px"></media-items-search-box>

<div *ngIf="person">
	<p class="title">{{person.name}}</p>
	<div style="width:200px">
		<carousel>
			<slide *ngFor="let photo of taggedPhotos">
				<div style="width:100%"><img src="{{photo}}" style="width:100%;"></div>
			</slide>
		</carousel>
	</div>

	<div *ngIf="movieCredits">
		<p class="title" style="margin-top:20px"> Movie Credits </p>
	<div fxLayout="row" style="overflow:scroll">
		<div *ngFor="let movie of movieCredits" class="box-card">
			<movie-card [movie]="movie"></movie-card>
		</div>
	</div>
	</div>
</div>
