.person-image {
	width:150px;
}

.movie-images {
	width:100px;
	margin:5px;
}
.box-card {
	margin-left: 25px;
	margin-top: 25px;
}
.title {
	font-size: 200%;
	margin-top: 20px;
}
div.carousel.slide {
	width:250px;
	max-width:400px;
	background-color:black;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  min-height: 250px;
  height:250px;    /* Set slide height here */

}