<media-items-search-box style="width:400px; height:200px"></media-items-search-box>


<div *ngIf="this.movie">
	<div class="backdrop" [style.background-image]="'url(' + movie.backdropUrl + ')'">
		<div class="overlay" fxFlex="60%">
			<h1 class="title">{{movie.title}}</h1>
			<div *ngIf="afService.isLoggedIn" class="sub-button">
				<div *ngIf="afService.movieIsInWatchList(movie)">
					<button
						md-raised-button
						(click)="afService.removeMovieFromWatchlist(this.movie)"
						style="background:#ff4000">
						Remove movie from watchlist
					</button>
				</div>
				<div *ngIf="!afService.movieIsInWatchList(movie)">
					<button
						md-raised-button
						(click)="afService.addMovieToWatchlist(this.movie)"
						style="background:DeepSkyBlue">
						Add movie to watchlist
					</button>
				</div>
			</div>

			<div fxLayout="row" class="movie-details-box">
				<img src="{{this.movie.imageUrl}}" class="poster-img">
				<div class="movie-overview-box" fxLayout="column" fxLayoutAlign="start start">
					<p class="overview">{{movie.overview}}</p>
					<p>Genres: {{movie.genres}}</p>
					<p>Runtime: {{movie.runtime}} minutes</p>
					<p>Release date: {{movie.releaseDate}}</p>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="afService.isLoggedIn"><create-review [movie]="this.movie"></create-review></div>

	<div *ngIf="recommendedMovies">
		<h2 class="title">Similar Movies</h2>
		<div fxLayout="row" style="overflow:scroll">
			<div *ngFor="let rmovie of recommendedMovies" class="box-card">
				<movie-card [movie]="rmovie"></movie-card>
			</div>
		</div>
	</div>

	<h2 class="title">Trailers</h2>
	<div fxLayout="row" style="overflow: scroll">
		<div *ngFor="let video of videos" class="box-card">
			<youtube-player
				width="200"
				height="250"
		      [videoId]="video.key"
		      (ready)="savePlayer($event)"
		      (change)="onStateChange($event)"
		    ></youtube-player>
		    <div class="box-card-textbox">
		    	<p class="textbox-text" fxLayoutAlign="center center">{{video.name}}</p>
		    </div>
		</div>
	</div>
</div>
