.movie-overview-box {
	margin: 0;
	margin-left: 20px;
}
.movie-details-box {
	overflow: hidden;
}
.overview {
	max-height: 180px;
	overflow: scroll;
	margin-top:0;
}
.box-card {
	margin-left: 25px;
	margin-top: 25px;
}
.box-card-textbox {
	margin:0;
	background-color:#333;
	text-align:center;
	width:200px;

}
.textbox-text {
	color: white;
	font-size:80%;
	margin:0;
	height:100%;
	overflow:hidden;
}

.backdrop {
	margin: auto -15px;
	background-position: center center;
  	background-repeat: no-repeat;
	background-size: 100% auto;
}

.overlay {
	padding:15px;
	min-width: 400px;
	color:white;
	background-color: rgba(0,0,0,0.55); /* fallback color if gradients are not supported */
}

.gradient {
	min-width: 100px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.55), rgba(0,0,0,0)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.55), rgba(0,0,0,0)); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0.55), rgba(0,0,0,0)); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0)); /* Standard syntax; must be last */
}

@media screen and (max-width: 719px) {
	.gradient {
		min-width: 50px;
	}
}

.poster-img {
	height: 325px;
	width: auto;
}

.sub-button {
	margin-bottom: 10px;
}

.material-icons {
	font-size: 40px;
	cursor: pointer;
}

.text {
	font-size:80%;
	text-align:center;
	margin-top:0;
	width: 100px;
}
