<div *ngIf="this.movie">
	<h1>{{this.movie.title}}</h1>
	<div fxLayout="row" class="movie-details-box">
		<img src="{{this.movie.imageUrl}}" style="height:182px; width: auto; margin:0 5px 5px ">
		<div class="movie-overview-box">
			<p class="overview">{{movie.overview}}</p>
			<p style="margin-top:30px">genres: {{movie.genres}}</p>
			<p>runtime: {{movie.runtime}} minutes</p>
			<p>release date: {{movie.releaseDate}}</p>
		</div>
	</div>
	<div *ngIf="afService.isLoggedIn">
		<button md-raised-button (click)="afService.addMovieToWatchlist(this.movie)">Add movie to watchlist</button>
	</div>
	<div *ngIf="id">
		<h1>Trailer</h1>
		<youtube-player
	      [videoId]="id"
	      (ready)="savePlayer($event)"
	      (change)="onStateChange($event)"
	    ></youtube-player>
	</div>

</div>

