<media-items-search-box style="width:400px; height:200px"></media-items-search-box>


<div *ngIf="this.movie">
	<p class="title">{{movie.title}}</p>
		
	<div *ngIf="afService.isLoggedIn">
		<div fxLayout="row">
			<div *ngIf="afService.movieIsInWatchList(movie)">
				<i class="material-icons" (click)="afService.removeMovieFromWatchlist(this.movie)" mdTooltip="Remove from watchlist" mdTooltipPosition="right">remove</i>
			</div>
			<div *ngIf="!afService.movieIsInWatchList(movie)">
				<i class="material-icons" (click)="afService.addMovieToWatchlist(this.movie)" mdTooltip="Add to watchlist" mdTooltipPosition="right">add</i>
			</div>
			<i class="material-icons" style="margin-left:20px" mdTooltip="Add to favorites" mdTooltipPosition="right">favorite_border</i>
		</div>
	</div>


	<div fxLayout="row" class="movie-details-box">
		<img src="{{this.movie.imageUrl}}" style="height:182px; width: auto; margin:0 5px 5px ">
		<div class="movie-overview-box">
			<p class="overview">{{movie.overview}}</p>
			<p style="margin-top:30px">Genres: {{movie.genres}}</p>
			<p>Runtime: {{movie.runtime}} minutes</p>
			<p>Release date: {{movie.releaseDate}}</p>
		</div>
	</div>

	<div *ngIf="afService.isLoggedIn"><create-review [movie]="this.movie"></create-review></div>
	<div *ngIf="recommendedMovies"><p class="title">Similar Movies</p></div>
	<div fxLayout="row" style="overflow:scroll">
		<div *ngFor="let rmovie of recommendedMovies" class="box-card">
			<movie-card [movie]="rmovie"></movie-card>
		</div>
	</div>

	<p class="title">Trailers</p>
	<div fxLayout="row" style="overflow: scroll">
		<div *ngFor="let video of videos" class="box-card">
			<youtube-player
				width="200"
				height="250"
		      [videoId]="video.key"
		      (ready)="savePlayer($event)"
		      (change)="onStateChange($event)"
		    ></youtube-player>
		    <div class="box-card-textbox">
		    	<p class="textbox-text" fxLayoutAlign="center center">{{video.name}}</p>
		    </div>
		</div>
	</div>
</div>
