.movie-overview-box {
	margin: 0;
	margin-left: 20px;
}
.movie-details-box {
	overflow: hidden;
}
.overview {
	max-height: 180px;
	overflow: scroll;
	margin-top:0;
}
.box-card {
	margin-left: 25px;
	margin-top: 25px;
}
.box-card-textbox {
	margin:0;
	height:30px;
	background-color:#333;
	text-align:center;
	width:200px;

}
.textbox-text {
	color: white;
	font-size:80%;
	margin:0;
	height:100%;
	overflow:hidden;
}
.title {
	font-family: Palatino;
}

.backdrop {
	margin: auto -15px;
	background-image-width: 100%;
	height: 100%;
	background-position: center center;
  	background-repeat: no-repeat;
}

.overlay {
	padding:15px;
	min-width: 400px;
	background: rgba(255,255,255,0.7);
}

.poster-img {
	height: 325px;
	width: auto;
}

.sub-button {
	margin-bottom: 10px;
}

.material-icons {
	font-size: 40px;
	cursor: pointer;
}

.text {
	font-size:80%;
	text-align:center;
	margin-top:0;
	width: 100px;
}
