<div *ngIf="!afService.isLoggedIn">
	<h1>Log in first!</h1>
</div>

<div *ngIf="afService.isLoggedIn">
	<div fxLayout="row" fxLayoutWrap>
			<h1  fxLayoutAlign="left">{{afService.user.name}}</h1>
			<img fxLayoutAlign="right" src={{afService.user.imageUrl}}>
	</div>
	<h1>My Reviews: ....</h1>
	<h1>My liked movies ....</h1>
	<h1>My watchlist </h1>
	<div fxLayout="row" fxLayoutWrap>
		<div *ngFor="let movie of afService.user.watchlist">
			<img src={{movie.imageUrl}} style="margin-left:10px;height:100px;style:100px" (click)="afService.removeMovieFromWatchlist(movie)">
		</div>
	</div>


</div>
