<div *ngIf="!afService.isLoggedIn">
	<h1>Log in first!</h1>
</div>

<div *ngIf="afService.isLoggedIn">
	<div id="profile-container">
		<img src={{afService.user.imageUrl}} class="profile-pic">
		<div>
			<h1>{{afService.user.name}}</h1>
			<h1>My Reviews: ....</h1>
			<h1>My liked movies ....</h1>
			<h1>My watchlist </h1>
			<div fxLayout="row" fxLayoutWrap>
				<div *ngFor="let movie of afService.user.watchlist" class="image-container">
					<button md-mini-fab (click)="afService.removeMovieFromWatchlist(movie); $event.stopPropagation()" class="close"><md-icon style="color:white;">close</md-icon></button>
					<img (click)="navigateToMovieDetailScreen(movie)" src={{movie.imageUrl}} class="movie-img">
				</div>
			</div>
		</div>

	</div>
</div>
