<div *ngIf="!afService.isLoggedIn">
	<h1 class="title">Log in first!</h1>
</div>

<div *ngIf="afService.isLoggedIn">
	<div id="profile-container">
		<div class="profile-info">
			<img src={{afService.user.imageUrl}} class="profile-pic">
			<h1 class="title">{{afService.user.name}}</h1>
		</div>
		<div>
			<h1 class="title">My Reviews</h1>
			<div fxLayout="row" style="overflow-x:scroll">
				<div *ngFor="let review of reviews | async">
					<review-card [review]="review"></review-card>
				</div>
			</div>

			<h1 class="title">My favourite movies</h1>
			<div fxLayout="row" fxLayoutWrap [dragula]='"first-bag"' [dragulaModel]='afService.user.favouritelist'>
				<div *ngFor="let movie of afService.user.favouritelist; let i = index" class="image-container">
					<div id="{{movie.id}}">
						<button md-mini-fab (click)="afService.removeMovieFromFavouritelist(movie); $event.stopPropagation()" class="close"><md-icon style="color:white;">close</md-icon></button>
						<img (click)="navigateToMovieDetailScreen(movie)" src={{movie.imageUrl}} class="movie-img">
						<h2 style="text-align:center;margin-top:5px">{{i+1}}</h2>
					</div>
				</div>
			</div>
			<h1 class="title">My watchlist </h1>
			<div fxLayout="row" fxLayoutWrap [dragula]='"first-bag"' [dragulaModel]='afService.user.watchlist'>
				<div *ngFor="let movie of afService.user.watchlist; let i = index" class="image-container" >
					<div id="{{movie.id}}">
						<button md-mini-fab (click)="afService.removeMovieFromWatchlist(movie); $event.stopPropagation()" class="close"><md-icon style="color:white;">close</md-icon></button>
						<img (click)="navigateToMovieDetailScreen(movie)" src={{movie.imageUrl}} class="movie-img">
						<h2 style="text-align:center;margin-top:5px">{{i+1}}</h2>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
