#profile-container {
	justify-content: space-between !important; /* Oh gods of CSS, please forgive me for this atrocity, but angular fucking flex fucking layout uses style="", and important is the only one with higher hierarchy*/
}

.profile-pic {
	min-width: 150px;
	border-radius: 50%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.profile-info {
	float:right;
}

.image-container {
	position: relative;
}

.review-row {
	overflow: scroll;
	
}

.close {
	position: absolute;
	background: #E65C5F;
	top: -7px;
	right: -7px;
}

.movie-img {
	margin: 10px;
	max-height: 150px;
	cursor: pointer;
}

.review-list {
	list-style: none;
}
.title {
	font-family: Palatino;
}
