#profile-container {
	justify-content: space-between !important; /* Oh gods of CSS, please forgive me for this atrocity, but angular fucking flex fucking layout uses style="", and important is the only one with higher hierarchy*/
}

.profile-pic {
	min-width: 150px;
	border-radius: 50%;
	float: right;
}

.image-container {
	position: relative;
}

.close {
	position: absolute;
	background:red;
	top: -7px;
	right: -7px;
}

.movie-img {
	margin: 10px;
	max-height: 150px;
	cursor: pointer;
}
