md-card{
    height: 250px;
    width: 300px;
}

img[md-card-image] {
    max-width: 100px;
    max-height: auto;
    margin: 0 10% 16px

}

img[md-card-avatar]{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%

}
