.search-results-box {
   width: 520px;
   /*height: 480px;*/
   background: red;
   position: relative;
   -moz-border-radius:    6px;
   -webkit-border-radius: 6px;
   border-radius:         6px;
}
.search-results-box:before {
   content:"";
   position: absolute;
   bottom: 100%;
   right: 36px;
   width: 0;
   height: 0;
   border-left: 13px solid transparent;
   border-bottom: 20px solid red;
   border-right: 13px solid transparent;
}

.search-results-content {
  margin: 0px;
}

.testbox {
  border: 1px dashed black;
}
