.box-card {
	margin-left: 25px;
	margin-top: 25px;
}
.title {
	font-family: Palatino;
}
.movie-slide {
  cursor: pointer;
  height: 320px;
  width: 700px;
  position: relative;
  background-color: black;
}
.poster-img {
  box-shadow: 2px 2px 3px 0px;
  margin: 10px 10px 10px 10px;
	height: 300px;
	width: auto;
}
.background-image {
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 99%;
  left: 1px;
  right: 1px;
  position: absolute;
  z-index: 1;
}
* {
  box-sizing: border-box;
}
.content {
  background: rgba(0, 0, 0, 0.45);
  top: 0px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}
.movie-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.movie-overview {
  font-size: 14px;
}
.movie-slide-text {
  color: #c4c4c4;
}
