<div>
	<md-input-container>
		<input
			#moviesSearchBox
			mdInput
			type="text"
			placeholder="search for a movie"
			(keyup)="searchMovies(moviesSearchBox.value)">
	</md-input-container>
</div>

<div class="testbox" style="width:500px">
	<div style="margin:10px">
		<div fxLayout="row" fxLayoutAlign="start center" style="height:80px;border-bottom:1px solid darkgray;" *ngFor="let movie of movies | async">
			<div fxLayout="row" fxLayoutAlign="center none" fxFlex="80px" style="height:90%">
				<img style="height:100%" src="{{movie.imageUrl}}">
			</div>
			<div>
				<div>{{movie.title}}</div>
			</div>
		</div>
	</div>
</div>

<div style="padding:5px">
	<md-input-container>
		<input
			#peopleSearchBox
			mdInput
			type="text"
			placeholder="search for a person"
			(keyup)="searchPeople(peopleSearchBox.value)">
	</md-input-container>
</div>

<div class="testbox" style="width:500px">
	<div style="margin:10px">
		<div fxLayout="row" fxLayoutAlign="start center" style="height:80px;border-bottom:1px solid darkgray;" *ngFor="let person of people | async">
			<div fxLayout="row" fxLayoutAlign="center none" fxFlex="80px" style="height:90%">
				<img style="height:100%" src="{{person.imageUrl}}">
			</div>
			<div>
				<div>{{person.name}}</div>
			</div>
		</div>
	</div>
</div>
